<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nuvio.app.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nuvio</string>
				<string>stremio</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>infuse</string>
		<string>vlc-x-callback</string>
		<string>outplayer</string>
		<string>open-vidhub</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<false/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.m3u-playlist</string>
			<key>UTTypeDescription</key>
			<string>M3U Playlist</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m3u</string>
					<string>m3u8</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-mpegurl</string>
					<string>application/x-mpegurl</string>
					<string>application/vnd.apple.mpegurl</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
